
@{
    ViewData["Title"] = "Distribuidores_Peru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        body {
            background-image: linear-gradient(to bottom right, #C84BC1, #4758CF);
            font-family:Roboto;
        }

        .bloque {
            background-color: white;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            padding: 20px;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }

        .bloque h1{
            color: black;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
        }

        .container{
            color:white;
        }

        .Datos h2,p{
          color:black;
        }

        .Datos{
            font-family:Roboto;
        }

        .Datos p{
            text-align:justify;
        }

        .Datos img{
            margin: 10px 30%;
            width: 500px;
            height: auto;
            border-radius: 20px;
        }


   </style>

    <div class="bloque">
        <h1>Distribuidores Conocidos en el Perú</h1>
        <div class="Datos">
            <h2>1. Alicorp</h2>
            <p>Alicorp es una de las empresas más grandes y diversificadas en el sector de alimentos y productos de consumo masivo en Perú. Con una amplia gama de productos, desde alimentos hasta productos de limpieza, Alicorp ha logrado una fuerte presencia tanto a nivel nacional como internacional.</p>
            <img src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/RBPUWEA55BDPTHYFF2KOUQVUEY-1.jpg"/>
        </div>
        <div class="Datos">
            <h2>2. Gloria</h2>
            <p>Gloria es uno de los principales productores de leche y derivados lácteos en Perú. Con una larga trayectoria en el mercado, la marca Gloria es sinónimo de calidad y confianza en los hogares peruanos. Además, ofrece una variedad de otros productos alimenticios.</p>
            <img src="https://larepublica.cronosmedia.glr.pe/original/2022/10/11/63460b31027b4e2c7e234313.jpg"/>
        </div>
        <div class="Datos">
            <h2>3. Backus</h2>
            <p>Backus, ahora parte de AB InBev, es el mayor productor de cerveza en Perú. Sus marcas más conocidas, como Cristal y Pilsen Callao, son muy populares en el país. Backus también distribuye una variedad de otras bebidas alcohólicas y no alcohólicas.</p>
            <img src="https://www.backus.pe/sites/g/files/seuoyk181/files/2020-04/BackusPanoramica.png"/>
        </div>
        <div class="Datos">
            <h2>4. San Fernando</h2>
            <p>San Fernando es líder en la producción y distribución de productos avícolas y cárnicos en Perú. Con un enfoque en la calidad y la innovación, San Fernando ha establecido una sólida reputación en el mercado, ofreciendo productos frescos y procesados de alta calidad.</p>
            <img src="https://agraria.pe/imgs/a/lx/san-fernando-colabora-con-poblaciones-vulnerables-por-el-cov-21163.jpg"/>
        </div>
    </div>

