
@{
    ViewData["Title"] = "DistribuidoresMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        body {
            background-image: linear-gradient(to bottom right, #C84BC1, #4758CF);
            font-family:Roboto;
        }

        .bloque {
            background-color: white;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            padding: 20px;
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }

        .bloque h1{
            color: black;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
        }

        .container{
            color:white;
        }

        .Datos h2,p{
          color:black;
        }

        .Datos{
            font-family:Roboto;
        }

        .Datos p{
            text-align:justify;
        }

        .Datos img{
            margin: 10px 30%;
            width: 500px;
            height: auto;
            border-radius: 20px;
        }


   </style>

    <div class="bloque">
        <h1>Distribuidores Conocidos en el Mundo</h1>
        <div class="Datos">
            <h2>1. Walmart</h2>
            <p>Walmart es uno de los minoristas más grandes del mundo, con una red masiva de tiendas en varios países. Conocido por su modelo de precios bajos y una amplia gama de productos, Walmart se ha establecido como un líder en el mercado global de distribución y venta al por menor.</p>
            <img src="https://peruretail.sfo3.cdn.digitaloceanspaces.com/wp-content/uploads/GettyImages-1205217071-1.jpg"/>
        </div>
        <div class="Datos">
            <h2>2. Amazon</h2>
            <p>Amazon es una de las compañías más grandes y diversificadas en el comercio electrónico global. Fundada por Jeff Bezos, Amazon ofrece una plataforma para comprar casi cualquier cosa imaginable, con un sistema de logística y distribución que ha revolucionado la industria.</p>
            <img src="https://comercioynegocios.org/wp-content/uploads/2023/09/Copia-de-PLANTILLA-PORTADA-750X450-2022-12-30T120915.905-1280x720-1.jpg"/>
        </div>
        <div class="Datos">
            <h2>3. Alibaba</h2>
            <p>Alibaba es una de las plataformas de comercio electrónico más grandes del mundo, con sede en China. Fundada por Jack Ma, Alibaba conecta a millones de compradores y vendedores globales, y su impacto en el comercio electrónico ha sido significativo, especialmente en Asia.</p>
            <img src="https://static.euronews.com/articles/stories/08/00/67/38/1200x675_cmsv2_6acbd0c8-e4f4-5047-94a3-520f9cde74fa-8006738.jpg"/>
        </div>
        <div class="Datos">
            <h2>4. Costco</h2>
            <p>Costco es una cadena de tiendas de membresía conocida por vender productos a granel a precios competitivos. Con una gran variedad de productos y una fuerte presencia internacional, Costco ha construido una reputación de calidad y valor para sus miembros en todo el mundo.</p>
            <img src="https://storage.googleapis.com/media-prod-1/images/QS_F1.jpg"/>
        </div>
    </div>

