@{
    ViewData["Title"] = "Caratula";
}

<style>
        body {
            background-image: linear-gradient(to bottom right, #C84BC1, #4758CF);
            font-family:Roboto;
        }
</style>

<div class="text-center">
    <h1 class="display-4" style="color:white;">EXAMEN T2 - DAS</h1>
    <p style="color:white;">RENATO ENCISO - N00290794</p>
</div>
